.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
}

.login-card {
  background-color: #2C2C2C;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 300px; /* Set width for the card */
  text-align: center;
}

.login-card h1 {
  color: #03DAC6;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0; /* Adds margin for spacing between fields */
  border: none;
  border-radius: 5px;
  background-color: #444; /* Dark background for input fields */
  color: #e0e0e0;
  transition: background-color 0.3s;
}

.login-card input:focus {
  background-color: #555; /* Slightly lighter on focus */
  outline: none;
}

.login-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px; /* Space above the button */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.login-card button:hover {
  background-color: #0056b3;
}

.login-card p {
  color: #e0e0e0;
}